@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,300..800&family=Google+Sans+Code:wght@300..700&display=swap');
@import 'tailwindcss';
@import 'tw-animate-css';

@theme {
  --font-sans: 'Bricolage Grotesque', sans-serif;
  --font-mono: 'Google Sans Code', monospace;
}

html,
body,
#root {
  min-height: 100%;
}
body {
  margin: 0;
  min-width: 320px;
  background: #120f17;
}
